.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
.vscode
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc
Logbook.md
package-lock.json