/*Write your global styles here, in PostCSS syntax */
/*place global styles here */

html, body { 
	@apply h-full overflow-hidden bg-surface-50-900-token;
}

.social {
	@apply inline-flex px-3 py-2 items-center transition-colors bg-surface-hover-token text-token border border-surface-200-700-token;
}